<ng-container *ngIf="getBookState$ | async as bookState">
  <ng-container *ngIf="bookState === loadingState.LOADED; else loading">
    <div class="book-container" *ngIf="book$ | async as book;">
      <p-card class="title-card text-center">
        {{ book.title | uppercase}}
      </p-card>
      <div class="info-container mt-4 flex-column align-items-center lg:flex-row">
        <p-card class="cover-card text-center">
          <img alt=""
               [src]="book.coverUrl"/>
        </p-card>
        <p-card class="details-card">
          <div class="ml-5">
            <div class="flex align-items-center mb-5">
              <p-rating class="mr-2" [ngModel]="5" [readonly]="true" [cancel]="false"></p-rating>
              ({{book.rating}})
            </div>
            <div class="details-lines">
              <div>
                <span>Author(s)</span>
                <span>Description</span>
                <span>Type</span>
                <span>Genres(s)</span>
              </div>
              <div>
                <div> {{book.author.fullName | uppercase}}</div>
                <div> {{book.description}}</div>
                <div> {{book.type? book.type : 'Light Novel'}}</div>
                <div> {{'Action, Adventure, Fantasy, Martial arts, Mystery, Romance, Supernatural'}}</div>
              </div>

            </div>
          </div>

        </p-card>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="mt-5 text-center">
    loading...
  </div>
</ng-template>
