<div class="author-container flex flex-column align-items-center">

  <div class="author-pic-container">
    <img alt="" src="https://www.anime-planet.com/images/people/thumbs/19945.jpg?t=1515110966"/>
  </div>
  <span class="font-bold">Mad Snail</span>
  <span class="font-italic text-center">"Best known for being the author of Rebirth of the Thief Who Roamed The World (Novel), Star Martial God Technique (Novel), Star Martial God Technique, Tales of Demons and Gods, and Tales of Demons and Gods (Novel)."</span>
  <div class="author-books-container flex justify-content-center align-items-stretch flex-wrap">
    <p-card *ngFor="let book of books" class="book-card">
      <div class="flex flex-column">
        <img [src]="book.cover" [alt]="book.title"/>
        <span class="font-bold text-center mt-3">{{book.title}}</span>
      </div>
    </p-card>
  </div>
</div>
