/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "variables";

*{
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: var(--gray-50);
  background-image: url("assets/images/background.jpg");
}

.p-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  transition: 0.3s;
}

.p-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4) !important;
}

.return-button {
  position: absolute;
  opacity: 30%;
}
.return-button:hover {
  opacity: 100%;
}

.dis-none {
  display: none;
}

.dis-flex {
  display: inline-block;
}


@media only screen and (max-width: $b) {

  .tss\:table-body-tr {
    td {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    td:first-child {
      display: none !important;
    }
  }
}

@media only screen and (min-width: $s) {
  .bs\:d-none {
    display: none;
  }
  .bs\:justify-content-end {
    justify-content: flex-end !important;
  }
  .bs\:max-w-full {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: $s) {
  .ss\:d-none {
    display: none;
  }
  .ss\:d-opacity-100 {
    opacity: 100% !important;
  }
}

@media only screen and (max-width: $xs) {
  .xs\:d-none {
    display: none;
    width: 0;
    overflow: hidden;
  }
}
