<p-card *ngIf="(getBooksState$ | async) as getBooksState">
  <p-table class="w-full" #table *ngIf="books$ | async as books"
           [loading]="getBooksState === loadingState.LOADING && books.length === 0" [value]="books" dataKey="id"
           [globalFilterFields]="['title']"
           [rows]="10" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
      <div class="align-items-center flex flex-wrap justify-content-between m-1">
        <div class="flex align-items-center flex-1">
          <div class="refresh-loader-container text-center max-w-0 sm:max-w-full">
            <i *ngIf="books.length > 0 && getBooksState === loadingState.LOADING"
               class="pi pi-spin pi-spinner text-primary"></i>
          </div>
          <div class="text-center flex-1">
            Available books list
          </div>
        </div>

        <div class="flex justify-content-end flex-1 justify-content-center sm:justify-content-end ">
			<span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search xs:d-none"></i>
                <input class="xs:d-none" pInputText type="text" (input)="table.filterGlobal($any($event.target).value, 'contains')"
                       placeholder="Search keyword"/>
            </span>
        </div>
      </div>

    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="id">ID</th>
        <th id="title">Title</th>
        <th id="author">Author</th>
        <th id="reviews">Reviews</th>
        <th id="actions">Actions</th>
      </tr>
    </ng-template>
    <ng-container *ngIf="(onDeleteBooksIDs$ | async) as onDeleteBooksIDS">
      <ng-template pTemplate="body" let-book>
        <tr class="tss:table-body-tr">
          <td><div>{{book.id}}</div></td>
          <td><span class="cursor-pointer" [routerLink]="['/books',book?.id]">{{book.title}}</span></td>
          <td><span class="cursor-pointer"
                    [routerLink]="['/authors',book?.author?.id]">{{book.author ? book.author.fullName : 'Unknown'}}</span>
          </td>
          <td>
            <p-rating [ngModel]="book.rating" [readonly]="true" [cancel]="false"></p-rating>
          </td>
          <td>
            <app-loadable-button (click)="deleteBook(book)" [loading]="onDeleteBooksIDS.includes(book.id)"
                                 icon="pi pi-trash" class="p-button-rounded p-button-secondary"></app-loadable-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            colspan="5">{{getBooksState.toString() === getBooksState ? 'No books found.' : 'An error had occurred, please try again'}}</td>
        </tr>
      </ng-template>
    </ng-container>
  </p-table>
</p-card>
